@charset "utf-8";
/* CSS Document */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.photo-row {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.stack {
    width: 100%;
    margin-bottom: 20px;
}

.\1column {
    width: 8.33%;
}

.\2columns {
    width: 16.66%;
}

.\3columns {
    width: 25%;
}

.\4columns {
    width: 33.33%;
}

.\5columns {
    width: 41.66%;
}

.\6columns {
    width: 50%;
}

.\7columns {
    width: 58.33%;
}

.\8columns {
    width: 66.66%;
}

.\9columns {
    width: 75%;
}

.\10columns {
    width: 83.33%;
}

.\11columns {
    width: 91.66%;
}

.\12columns {
    width: 100%;
}