/*   CSS Document    */
/*   lekrigbaum.css  */

#nav-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-top: 0px;
    padding-bottom: 15px;
    margin-bottom: 0;
    width: 100%;
}

#sub-nav {
    padding-top: 0px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

nav {
	font-size: 1em;
}

nav a {
    color: red;
    padding: 0px 0px 0px 18px;
	text-decoration: none;
}

nav ul {
	/*position:relative;
	float:left;*/
    padding: 0px 0px 0px 0px;
	list-style: none;
}

nav a:hover {
	color: yellow;
}

nav ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

nav li { 
	float: left; 
	position: relative; 
	padding-right: 100px; 
	display: block;
}

nav li ul { 
	display: none; 
	position: absolute;
}

nav li ul li { 
	clear: both; 
	border-style: none;
}

nav li:hover ul { 
	display: block; 
	height: auto; 
} 